QWidget {
	alternate-background-color: rgb( 35, 35, 35 );
	background-color: rgb( 40, 40, 40 );
	color: rgb( 255, 255, 255 );
}

QWidget:disabled {
	alternate-background-color: rgb( 35, 35, 35 );
	background-color: rgb( 40, 40, 40 );
	color: rgb( 180, 180, 180 );
}

QDockWidget {
	font-size: 12pt;
	font-style: bold;
}

QDockWidget::title {
	border: 1px solid rgb( 92, 92, 92 );
	background: rgb( 60, 60, 60 );
}

QMainWindow::separator {
	width: 4px;
	height: 4px;
	background-color: rgb( 50, 50, 50 );
}

QMainWindow::separator:hover {
	background-color: rgb( 60, 60, 60 );
}

/*QPushButton:disabled {
	border-width: 1px;
	border-radius: 2px;
    border-style: solid;
	border-color: rgb( 32, 0, 0 );
}*/
/*
QPushButton:enabled {
	border-width: 1px;
	border-radius: 4px;
    border-style: solid;
	border-color: rgb( 0, 128, 0 );
}*/

QSplitter::handle {
	width: 4px;
	height: 4px;
	background-color: rgb( 50, 50, 50 );
}

QSplitter::handle:hover {
	background-color: rgb( 60, 60, 60 );
}

TitleLabel {
	background-color: rgb( 80, 80, 80 );
	color:            rgb( 255, 255, 255 );
	font-size:        13px;
	padding:          2px;
}

FeatureDataWidget {
	border-color: rgb( 80, 0, 80 );
	border-style: solid;
	border-width: 1px;
}

FeatureDataWidget > TitleLabel {
	background-color: rgb( 80, 0, 80 );
	color:            rgb( 255, 255, 255 );
	font-size:        13px;
	padding:          2px;
}

ExampleDataWidget {
	border-color: rgb( 0, 80, 80 );
	border-style: solid;
	border-width: 1px;
}

ExampleDataWidget > TitleLabel {
	background-color: rgb( 0, 80, 80 );
	color:            rgb( 255, 255, 255 );
	font-size:        13px;
	padding:          2px;
}

GroupDataWidget {
	border-color: rgb( 0, 80, 0 );
	border-style: solid;
	border-width: 1px;
}

GroupDataWidget > TitleLabel {
	background-color: rgb( 0, 80, 0 );
	color:            rgb( 255, 255, 255 );
	font-size:        13px;
	padding:          2px;
}

DatasetDataWidget {
	border-color: rgb( 80, 0, 0 );
	border-style: solid;
	border-width: 1px;
}

DatasetDataWidget > TitleLabel {
	background-color: rgb( 80, 0, 0 );
	color:            rgb( 255, 255, 255 );
	font-size:        13px;
	padding:          2px;
}